.i-phone-section {
	bottom: 90px;
	left: 5%;
}

.contact-login {
	line-height: 22px;
}

.dotted {
	border: 1px dashed #1d831b;
	height: 269px;
	width: auto;
}

.mac-book-section,
.mac-book-section img {
	width: 100% !important;
	height: 100% !important;
}

.i-phone-section img {
	/*width: 90% !important;*/
	height: 100% !important;
}

/*
.i-phone-section {
	width: 23% !important;
	height: 38% !important;
}
.mac-book-section{
    padding: 0 .5rem 0 9.5rem;
}*/